.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Iframe {
  align-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Pages Section */

.pages-header {
  background-image: url(./image/Header-Page.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 30vh;
  position: relative;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: left;
}

.pages-header_header {
  padding: 9vh;
  background-color: #c11033d8;
  width: 100%;
  height: 100%;
  align-items: center;
}

.pages-header_content {
  font-size: 3em;
  padding-top: 3vh;
  padding-bottom: 2vh;
  color: white;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
